---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION, PROJECTS_DATA } from '../config';
import TelegramIcon from '/telegram.svg';
import Project from '../components/Project.astro';

let today = new Date().toLocaleDateString('en-us', {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
});
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="flex flex-col px-9 py-6 md:flex-row md:gap-28 2xl:gap-[170px] 2xl:px-16 2xl:py-10">
    <div
      class="point-light fixed bottom-0 left-0 -z-10 h-[750px] w-[750px] translate-x-[-50%] rounded-[374px] bg-[#FF6666] opacity-20 blur-[300px] transition-colors duration-1000 md:opacity-10"
    >
    </div>

    <main class="flex max-h-[95vh] flex-col md:sticky md:top-[25px] md:max-w-[430px] 2xl:mt-[-20px]">
      <h1 class="font-heading text-6xl font-medium text-[#F0F0F0] 2xl:text-[6.875rem]">
        Arhella<span class="-mt-2 block font-semibold 2xl:-mt-5">Design</span>
      </h1>
      <p class="mt-5 text-base leading-[155%] 2xl:text-2xl 2xl:leading-[155%]">
        Hi! My name is Artemii. I'm the UX/UI designer with the nickname “Arhella”.
      </p>
      <p class="mt-7 text-base leading-[155%] 2xl:text-2xl 2xl:leading-[155%]">
        I strive to create a flexible environment with the potential that users value. Perhaps you will find something
        inspiring. Feel at home.
      </p>

      <ul class="mt-16 flex flex-col gap-4 md:mt-auto 2xl:text-2xl">
        <li class="flex items-center gap-2">
          <img src="/telegram.svg" alt="" class="h-6 w-6" /><a href="https://t.me/ArtemiiHella" target="_blank"
            >@ArtemiiHella</a
          >
        </li>
        <li class="flex items-center gap-2">
          <img src="/linkedin.svg" alt="" class="h-6 w-6" /><a
            href="https://www.linkedin.com/in/artemii-mamedov/"
            target="_blank">Artemii Mamedov</a
          >
        </li>
        <li class="flex items-center gap-2">
          <img src="/mail.svg" alt="" class="h-6 w-6" /><a href="mailto:artemii.mamedov@yandex.ru" target="_blank"
            >artemii.mamedov@yandex.ru</a
          >
        </li>
      </ul>
      <hr class="my-6" />

      <div class="flex justify-between 2xl:text-2xl">
        <p class="mix-blend-overlay">Last updated</p>
        <time datetime={today}>
          {today}
        </time>
      </div>
    </main>
    <section class="relative flex flex-col gap-8 pt-16 md:pt-0 2xl:gap-16">
      <div
        class="point-light fixed right-0 -z-10 hidden h-[750px] w-[750px] translate-x-1/2 rounded-[374px] bg-[#FF6666] opacity-20 blur-[300px] transition-colors duration-1000 md:top-[-200px] md:block md:opacity-10 2xl:left-[900px]"
      >
      </div>

      {
        PROJECTS_DATA.map((project) => (
          <Project
            href={project.href}
            title={project.title}
            text={project.text}
            imageSrc={project.imageSrc}
            id={project.id}
          />
        ))
      }
    </section>
  </body>
</html>
