---
import { PROJECTS_DATA, ALSO_PROJECTS } from '../constants';
import Project from '../components/ProjectCard.astro';
import clsx from 'clsx';
import i18next, { t, changeLanguage } from 'i18next';
import BaseLayout from '../layouts/BaseLayout.astro';
import { Trans } from 'astro-i18next/components';

changeLanguage('en');

let today = new Date().toLocaleDateString('en-us', {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
});
---

<BaseLayout>
  <main class="flex flex-col px-9 py-6 md:flex-row md:gap-28 2xl:gap-[170px] 2xl:px-16 2xl:py-10 relative z-10">
    <div class="flex max-h-[92vh] flex-col md:sticky md:top-[40px] md:max-w-[430px]">
      <h1 class="font-heading text-6xl font-bold text-[#F0F0F0] 2xl:text-[6.875rem]">
        Arhella<span class="block font-bold tracking-[0.015em] ml-[-5px]">Design</span>
      </h1>
      <p class="mt-5 text-base leading-[155%] 2xl:mt-[61px] 2xl:text-[25.89px] 2xl:leading-[155%] max-w-[356px]">
        <Trans i18nKey="home.intro1">
          Hi! My name is Artemii, also known as "<span class="text-[#8AFFF8]">Arhella</span>" on the internet.
        </Trans>
      </p>
      <!--  -->
      <p class="mt-[45px] text-base leading-[155%] 2xl:text-[25.89px] 2xl:leading-[155%] max-w-[356px]">
        <Trans i18nKey="home.intro2">
          I'm a <span class="text-[#8AFFF8]">UX/UI Designer</span>, intent on crafting convenient and clean user
          interfaces using various best practices and methodologies.
        </Trans>
      </p>

      <ul class="mt-16 flex flex-col gap-4 md:mt-auto 2xl:gap-5 2xl:text-[25.89px]">
        <li class="flex items-center gap-2 2xl:gap-4">
          <img src="/telegram.svg" alt="" class="icon h-6 w-6 2xl:h-9 2xl:w-9" /><a
            href="https://t.me/ArtemiiHella"
            target="_blank"
            class="text-[#8AFFF8] underline underline-under">@ArtemiiHella</a
          >
        </li>
        <li class="flex items-center gap-2 2xl:gap-4">
          <img src="/mail.svg" alt="" class="icon h-6 w-6 2xl:h-9 2xl:w-9" /><a
            href="mailto:artemii.mamedov@yandex.ru"
            target="_blank"
            class="text-[#8AFFF8] underline underline-under"
            >hi@arhella.xyz
          </a>
        </li>
        <li class="flex items-center gap-2 2xl:gap-4">
          <img src="/linkedin.svg" alt="" class="icon h-6 w-6 2xl:h-9 2xl:w-9" /><a
            href="https://www.linkedin.com/in/artemii-mamedov/"
            target="_blank"
            class="text-[#8AFFF8] underline underline-under">Artemii Savchenko</a
          >
        </li>
      </ul>
      <hr class="my-9" />

      <div class="flex justify-between 2xl:text-[25.89px]">
        <p id="updated-text" class="transition-colors duration-1000 tracking-[0.02em]">{t('lastupdated')}</p>
        <time class="tracking-[0.02em]" datetime={today}>
          {today}
        </time>
      </div>
    </div>
    <div class="relative flex flex-col gap-8 pt-16 md:pt-0 2xl:gap-16">
      {PROJECTS_DATA.map((project) => <Project {...project} />)}
      <h2 class="mt-[70px] 2xl:mt-[152px] text-6xl 2xl:text-[6.875rem] font-bold mb-9">{t('also')}</h2>
      <div class="flex flex-col gap-16">
        {
          ALSO_PROJECTS.map((project, i) => (
            <div
              class={clsx(
                'grid 2xl:grid-cols-2 gap-5 items-center',
                i % 2 == 0 && '2xl:text-left',
                i % 2 !== 0 && '2xl:text-right'
              )}
            >
              <img
                width={580}
                height={326}
                src={project.imageSrc}
                alt=""
                loading="lazy"
                class={clsx('rounded-[20px] object-contain ', i % 2 == 0 && '2xl:order-last')}
              />
              <div>
                <h3 class="font-bold 2xl:text-[25.89px]">{project.title}</h3>
                <p class="2xl:text-[25.89px]">{t(project.tkey)}</p>
              </div>
            </div>
          ))
        }
      </div>
      <p class="pt-[144px] text-center">“nothing is impossible if you put your mind to it.”</p>
    </div>

    <img src="/noise.png" alt="" class="pointer-events-none absolute inset-0" />
  </main>
</BaseLayout>
