---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION, PROJECTS_DATA, ALSO_PROJECTS } from '../constants';
import Project from '../components/Project.astro';
import clsx from 'clsx';

let today = new Date().toLocaleDateString('en-us', {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
});
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="flex flex-col px-9 py-6 md:flex-row md:gap-28 2xl:gap-[170px] 2xl:px-16 2xl:py-10">
    <main class="flex max-h-[92vh] flex-col md:sticky md:top-[40px] md:max-w-[430px]">
      <h1 class="font-heading text-6xl font-medium text-[#F0F0F0] 2xl:text-[6.875rem]">
        Arhella<span class="block font-semibold">Design</span>
      </h1>
      <p class="mt-5 text-base leading-[155%] 2xl:mt-[61px] 2xl:text-[25.89px] 2xl:leading-[155%]">
        Hi! My name is Artemii, also known as "Arhella" on the internet.
      </p>
      <p class="mt-[45px] text-base leading-[155%] 2xl:text-[25.89px] 2xl:leading-[155%]">
        I am a UX/UI designer, focused on crafting smooth and convinient user interfaces using various best practices
        and methodologies.
      </p>

      <ul class="mt-16 flex flex-col gap-4 md:mt-auto 2xl:gap-5 2xl:text-[25.89px]">
        <li class="flex items-center gap-2 2xl:gap-4">
          <img src="/telegram.svg" alt="" class="icon h-6 w-6 2xl:h-9 2xl:w-9" /><a
            href="https://t.me/ArtemiiHella"
            target="_blank"
            class="text-[#8AFFF8] underline underline-under">@ArtemiiHella</a
          >
        </li>
        <li class="flex items-center gap-2 2xl:gap-4">
          <img src="/mail.svg" alt="" class="icon h-6 w-6 2xl:h-9 2xl:w-9" /><a
            href="mailto:artemii.mamedov@yandex.ru"
            target="_blank"
            class="text-[#8AFFF8] underline underline-under"
            >hi@arhella.xyz
          </a>
        </li>
        <li class="flex items-center gap-2 2xl:gap-4">
          <img src="/linkedin.svg" alt="" class="icon h-6 w-6 2xl:h-9 2xl:w-9" /><a
            href="https://www.linkedin.com/in/artemii-mamedov/"
            target="_blank"
            class="text-[#8AFFF8] underline underline-under">Artemii Savchenko</a
          >
        </li>
      </ul>
      <hr class="my-6" />

      <div class="flex justify-between 2xl:text-[25.89px]">
        <p id="updated-text" class="transition-colors duration-1000">Last updated</p>
        <time datetime={today}>
          {today}
        </time>
      </div>
    </main>
    <div class="relative flex flex-col gap-8 pt-16 md:pt-0 2xl:gap-16">
      {
        PROJECTS_DATA.map((project) => (
          <Project
            href={project.href}
            title={project.title}
            text={project.text}
            imageSrc={project.imageSrc}
            id={project.id}
          />
        ))
      }
      <h2 class="mt-[152px] text-6xl 2xl:text-[6.875rem] font-bold mb-9">Also...</h2>
      <div class="flex flex-col gap-16">
        {
          ALSO_PROJECTS.map((project, i) => (
            <div class={clsx('flex flex-row justify-between items-center gap-5', i % 2 == 0 && 'flex-row-reverse')}>
              <div>
                <h3 class="font-bold 2xl:text-[25.89px]">{project.title}</h3>
                <p class="2xl:text-[25.89px]">{project.description}</p>
              </div>
              <img width={580} height={326} src={project.imageSrc} alt="" class="rounded-[20px]" />
            </div>
          ))
        }
      </div>
    </div>

    <img src="/noise.png" alt="" class="pointer-events-none absolute inset-0" />
  </body>
</html>
