---
import type { CollectionEntry } from 'astro:content';
import BaseLayout from './BaseLayout.astro';
import { t } from 'i18next';

type Props = CollectionEntry<'projects'>['data'];

const { title, description, images, quote, productionLink } = Astro.props;

const showImages = (images?.length || 0) > 0;

const showDevLink = productionLink === 'dev';
const showEmpty = productionLink === 'none';
const showLiveLink = productionLink && !showEmpty && !showDevLink;
---

<BaseLayout>
  <main class="relative z-10">
    <article class="max-w-[1180px] mx-auto 2xl:mt-16 mt-8 2xl:mb-20 mb-10">
      <div class="2xl:px-[130px] px-[30px]">
        <div class="flex justify-between">
          <a
            href="/"
            class="text-[#F0F0F0] border-[#B7B7B7] border-[1px] 2xl:text-[25.89px] flex items-center justify-center w-fit rounded-[10px] px-3 py-1 md:rounded-[15px] 2xl:rounded-[20px] 2xl:px-9 2xl:h-[64px] whitespace-nowrap hover:bg-[#8AFFF8] hover:text-[#1A4345] transition-colors duration-150"
            >{t('back')}</a
          >
          {
            showLiveLink && (
              <a
                class="text-[#F0F0F0] border-[#B7B7B7] border-[1px] 2xl:text-[25.89px] flex items-center justify-center w-fit rounded-[10px] px-3 py-1 md:rounded-[15px] 2xl:rounded-[20px] 2xl:px-9 2xl:h-[64px] whitespace-nowrap hover:bg-[#8AFFF8] hover:text-[#1A4345] transition-colors duration-150"
                target="_blank"
                href={productionLink}
              >
                {t('live')}
              </a>
            )
          }
          {
            showDevLink && (
              <div class="text-[#C9CB60] bg-[#2F3116] 2xl:text-[25.89px] flex items-center justify-center w-fit rounded-[10px] px-3 py-1 md:rounded-[15px] 2xl:rounded-[20px] 2xl:px-9 2xl:h-[64px] whitespace-nowrap ">
                {t('indev')}
              </div>
            )
          }
          {showEmpty && <div />}
        </div>
        <h1 class="font-bold 2xl:mb-9 2xl:mt-14 ml-5 mt-8 mb-4 text-6xl text-[#F0F0F0] 2xl:text-[6.875rem]">
          {title}
        </h1>
        <p class="text-[#B7B6B6] text-base 2xl:text-[25.89px] leading-normal mb-[31px] 2xl:mb-[50px] -mt-7 ml-4">{description}</p>
        <p class="text-[#8AFFF8] text-base 2xl:text-[25.89px] ml-4 ">{quote}</p>
        <div class="content">
          <slot />
        </div>
      </div>
      {
        showImages && (
          <div class="flex flex-col gap-4 mt-16">
            {images?.map((image) => (
              <img alt="" src={image} />
            ))}
          </div>
        )
      }
    </article>
  </main>
</BaseLayout>
